[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/myvenv/bin/uwsgi -i /srv/django-deploy-test/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/tutor/myvenv/bin/uwsgi -i /home/tutor/Project/GitDjango/FinalPro/.config/uwsgi/FinalPro.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target